---
title: Sponsors
---

<h1 class="page-header">Sponsors</h1>

<div class="row">
  <ul class="sponsor-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% 10.times do %>
      <li>
        <img src="http://static3.wikia.nocookie.net/__cb20130414114802/welcometothenhk/images/3/3c/230004517755.jpg">
      </li>
    <% end %>
  </ul>
</div>
