---
title: Sponsors
---

<h1 class="page-header">Sponsors</h1>

<div class="background-overlay"></div>

<div class="logos first">
  <a class="th" data-tooltip title="Technical Partner" href="http://www.cognizant.com/">
    <img src="/images/sponsors/cognizant.jpg">
  </a>

  <a class="th" data-tooltip title="Social Campaign Partner" href="http://www.bhel.com/home.php">
    <img src="/images/sponsors/bhel.jpg">
  </a>
</div>

<div class="logos second">
  <a class="th" data-tooltip title="Workshop Partner" href="http://ablab.in/">
    <img src="/images/sponsors/ablabs.png">
  </a>

  <a class="th" data-tooltip title="Workshop Partner" href="http://authentictechs.com/">
    <img src="/images/sponsors/authentic.png">
  </a>

  <br>

  <a class="th" data-tooltip title="SMS Partner" href="http://kapsystem.com/">
    <img src="/images/sponsors/kaps.jpg">
  </a>

  <a class="th" data-tooltip title="Education Partner" href="http://www.careerlauncher.com/">
    <img src="/images/sponsors/cl.jpg">
  </a>

  <a class="th" data-tooltip title="Gear Partner" href="http://www.furtadosonline.com/">
    <img src="/images/sponsors/furtados.jpg">
  </a>

  <a class="th" data-tooltip title="Magazine Partner" href="http://www.youthincmag.com/">
    <img src="/images/sponsors/youthinc.png">
  </a>

  <a class="th" data-tooltip title="Student Internship Partner" href="http://www.twenty19.com/opportunities/organiser/iit-mandi/exodia-2014">
    <img src="/images/sponsors/twenty19.png">
  </a>

  <br>

  <a class="th" data-tooltip title="Online Media Partner" href="http://www.uthtime.in/">
    <img src="/images/sponsors/uthtime.png">
  </a>

  <a class="th" data-tooltip title="Online Media Partner" href="http://www.knowafest.com/2013/12/exodia-14-iit-mandi-technical-cultural-festival-mandi.html">
    <img src="/images/sponsors/knowafest.png">
  </a>

  <br>

  <a class="th" data-tooltip title="Salon Partner" href="http://www.matrix-india.in/">
    <img src="/images/sponsors/matrix.gif" style="height: auto; width: 200px">
  </a>

   <a class="th" data-tooltip title="Fitness Partner" href="http://www.erkeindia.com/">
    <img src="/images/sponsors/erke.jpg" >
  </a>

</div>

