---
title: Pronite
---

<h1 class="page-header">Pronite</h1>

<div class="youtube-video">
  <iframe width="100%" height="100%" src="//www.youtube.com/embed/zfomv4CCXeM?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&wmode=opaque&playlist=zfomv4CCXeM" frameborder="0" allowfullscreen></iframe>


</div>

<div class="bottom-content">
  <div class="actual-bottom-content">
    <h3>PRONITE</h3>
    <p>Shilpa Rao is an Indian female playback singer in Hindi films.
She showcases the perfect combination of soul and style in her singing and is known for giving her songs the emotion desired and her live audience the vibe they would enjoy.</p>
  </div>
</div>
