---
title: Pronite
---

<h1 class="page-header">Pronite</h1>

<div class="youtube-video">
  <iframe width="100%" height="100%" src="//www.youtube.com/embed/bgGw_u3k4uI?autoplay=1&controls=0&showinfo=0&autohide=1&wmode=opaque" frameborder="0" allowfullscreen></iframe>
</div>

<div class="bottom-content">
  <div class="actual-bottom-content">
    <h3>STEREO DIVE FOUNDATION</h3>
    <p>STEREO DIVE FOUNDATION is the alias of Japanese musician, guitarist and music producer R・O・N (real name: Iida Ryuta 飯田龍太). He was born in Tokyo, Japan on 19 February 1982, and is signed to the label Lantis. The alias STEREO DIVE FOUNDATION was first used for the ending theme song to the anime Kyoukai no Kanata, “Daisy”.</p>
  </div>
</div>
