---
title: Events
---

<h1>Events</h1>

<% data.events.each do |section| %>
  <h2><%= section[0] %></h2>
  <div class="row">
    <ul class="event-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5">
      <% section[1].each do |event| %>
        <li><a href="/events/<%= event.id %>/"><img src="<%= event.icon %>"></a></li>
      <% end %>
    <ul>
  </div>
<% end %>

