---
title: Events
---

<h1>Events</h1>

<h2>Technical</h2>

<div class="row">
  <ul class="event-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5">
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
  <ul>
</div>

<h2>Cultural</h2>

<div class="row">
  <ul class="event-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5">
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
  <ul>
</div>

<h2>Literary</h2>

<div class="row">
  <ul class="event-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5">
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
  <ul>
</div>

<h2>Informal / Online</h2>

<div class="row">
  <ul class="event-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5">
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
    <li><img src="http://placehold.it/300x200"></li>
  <ul>
</div>
