---
title: Events
---

<h1 class="page-header">Events</h1>

<div class="bgwrap"></div>

<% data.events.each do |section| %>
  <h2>
    <%= section[0] %>
    <div></div>
  </h2>
  <div class="row">
    <ul class="event-grid small-block-grid-2 medium-block-grid-4 large-block-grid-5">
      <% section[1].each do |event| %>
        <li><a href="/events/<%= event.id %>/"><img src="<%= event.icon %>"></a></li>
      <% end %>
    <ul>
  </div>
<% end %>

<script>
  var sectionTransitions = {
    "Technical": {
      color: "red",
      image: "http://inside.anime-expo.org/wp-content/uploads/2013/07/Yukari-Yukino.jpg"
    },
    "Cultural": {
      color: "orange",
      image: "http://copypasterepost.com/wp-content/uploads/2013/07/ibnhkQG814yH5U.jpg"
    },
    "Literary": {
      color: "green",
      image: "http://thehaphazard.files.wordpress.com/2013/07/garden-of-words-screenshot-005.png?w=1200"
    },
    "Informal & Online": {
      color: "purple",
      image: "http://media.moddb.com/images/groups/1/1/84/Garden_of_words_-_image_-_e.jpg"
    }
  }
  $("h2").each(function() {
    var transition = sectionTransitions[$(this).text().trim()];
    $(this).find("div").css("background-color", transition.color);
    (new Image()).src = transition.image;
  });

  var originalBg = $(".bgwrap").css("background-image").slice(5, -2);
  function setBg(image) {
    if (Modernizr.touch) {
      $(".bgwrap").css("background-image", "url(" + transition.image + ")");
    } else {
      $(".bgwrap").before(
        $("<div>").addClass("bgwrap").css("background-image", "url(" + image + ")")
      );
      $(".bgwrap:last").fadeOut(function() {
        $(this).remove();
      });
    }
  }

  $("h2").click(function() {
    var transition = sectionTransitions[$(this).text().trim()];
    if ($(".bgwrap").css("background-image").slice(5, -2) == transition.image) {
      $("h2").removeClass("active");
      $(".row").slideUp();
      setBg(originalBg);
    } else {
      if (Modernizr.touch) {
        // Lesser animation on touch devices.
        $("h2").removeClass("active");
        $(this).addClass("active");
        $(".row").hide();
        $(this).next().show();
      }
      else {
        $("h2").removeClass("active");
        $(this).addClass("active");
        $(".row").slideUp();
        $(this).next().slideDown();
      }
      setBg(transition.image);
    }
  });
</script>

