---
title: Contacts
---

<h1 class="page-header">Contacts</h1>

<div class="background-overlay"></div>

<div class="row">
  <div class="large-6 columns th card">
    <img src="http://img1.ak.crunchyroll.com/i/spire2/6fc7484ba3beceaeed1a3ed96dd4362f1356451141_large.jpg">
    <div class="card-content">
      <h3>Inferno Cop</h3>
      <h5>brutal police officer</h5>
      <p>
        <strong>Phone:</strong> 493287562 / 34523495
        <br>
        <strong>Email:</strong> inferno.cop@exodia.in
      </p>
    </div>
  </div>
</div>
