---
title: Contacts
---

<h1 class="page-header">Contacts</h1>

<div class="background-overlay"></div>

<div class="row" data-equalizer>
  <div class="large-6 columns th card" data-equalizer-watch>
    <img src="/images/coordis/omair.jpg" >
    <div class="card-content">
      <h3>Omair Azmi</h3>
      <h5>Main Coordinator</h5>
      <p>
        <strong>Phone:</strong> 8894823925 / 7838815975
        <br>
        <strong>Email:</strong> admin@exodia.in
      </p>
    </div>
  </div>

  <div class="large-6 columns th card" data-equalizer-watch>
    <img src="/images/coordis/prateek.jpg">
    <div class="card-content">
      <h3>Prateek Gauba</h3>
      <h5>Main Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9805343714/8447373105
        <br>
        <strong>Email:</strong> admin@exodia.in
      </p>
    </div>
  </div>

</div>

<div class="row">
  <div class="large-6 columns th card">
    <img src="/images/coordis/hemant.jpg">
    <div class="card-content">
      <h3>Hemant Chawla</h3>
      <h5>Planning Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9805790581 / 9548098781
        <br>
        <strong>Email:</strong> planning@exodia.in
      </p>
    </div>
  </div>

<div class="large-6 columns th card">
    <img src="/images/coordis/priya.jpg">
    <div class="card-content">
      <h3>Priya Agarwal</h3>
      <h5>Planning Coordinator</h5>
      <p>
        <strong>Phone:</strong> 8894823923 / 7405335984
        <br>
        <strong>Email:</strong> planning@exodia.in
      </p>
    </div>
  </div>

</div>


<div class="row">
  <div class="large-4 columns th card">
    <img src="/images/coordis/syed.jpg">
    <div class="card-content">
      <h3>Syed Rizvi</h3>
      <h5>Finance Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9816368082
        <br>
        <strong>Email:</strong> sponsorship@exodia.in
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/bijon.jpg">
    <div class="card-content">
      <h3>Bijon Paul</h3>
      <h5>Finance Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9805221622 / 9774906376
        <br>
        <strong>Email:</strong> sponsorship@exodia.in
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/aarjav.jpg">
    <div class="card-content">
      <h3>Aarjav Malhotra</h3>
      <h5>Finance Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9582191917
        <br>
        <strong>Email:</strong> sponsorship@exodia.in
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns th card">
    <img src="/images/coordis/chinmay.jpg">
    <div class="card-content">
      <h3>Chinmay Krishna</h3>
      <h5>Publicity & Design Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9805683998
        <br>
        <strong>Email:</strong> publicity@exodia.in
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/Manish.jpg">
    <div class="card-content">
      <h3>Manish Bhuarya</h3>
      <h5>Design Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9459075228
        <br>
        <strong>Email:</strong> publicity@exodia.in
      </p>
    </div>
  </div>


<div class="large-4 columns th card">
    <img src="/images/coordis/aman.jpg">
    <div class="card-content">
      <h3>Aman Grover</h3>
      <h5>Publicity Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9805343622
        <br>
        <strong>Email:</strong> publicity@exodia.in
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns th card">
    <img src="/images/coordis/naga.jpg">
    <div class="card-content">
      <h3>Nagarjuna Narayana</h3>
      <h5>Hospitality Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9882815190 / 9936744222
        <br>
        <strong>Email:</strong> hospitality@exodia.in
      </p>
    </div>
  </div>
<div class="large-4 columns th card">
    <img src="/images/coordis/mohit.jpg">
    <div class="card-content">
      <h3>Mohit Sharma</h3>
      <h5>Hospitality Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9459075073 / 9467211512
        <br>
        <strong>Email:</strong> hospitality@exodia.in
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/param.jpg">
    <div class="card-content">
      <h3>Paramjeet Singh</h3>
      <h5>Hospitality Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9816478976 / 9815505579
        <br>
        <strong>Email:</strong> hospitality@exodia.in
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns th card">
    <img src="/images/coordis/Tejas.jpg">
    <div class="card-content">
      <h3>Tejas Lunawat</h3>
      <h5>Control & Management Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9736618899/ 8087577050
        <br>
        <strong>Email:</strong> cm@exodia.in
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/devang.jpg">
    <div class="card-content">
      <h3>Devang Gupta</h3>
      <h5>Control & Management Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9816111283
        <br>
        <strong>Email:</strong> cm@exodia.in
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/gautam.jpg">
    <div class="card-content">
      <h3>Gautam Vij</h3>
      <h5>Control & Management Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9816650201/ 9779005891
        <br>
        <strong>Email:</strong> cm@exodia.in
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns th card">
    <img src="/images/coordis/navneet.jpg">
    <div class="card-content">
      <h3>Navneet Yadav</h3>
      <h5>Security Coordinator</h5>
      <p>
        <strong>Phone:</strong>9805056644
        <br>
        
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/abhinav.jpg">
    <div class="card-content">
      <h3>Abhinav Singh</h3>
      <h5>Security Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9816936231
        <br>
        
      </p>
    </div>
  </div>

<div class="large-4 columns th card">
    <img src="/images/coordis/rasul.jpg">
    <div class="card-content">
      <h3>Rasul Mujavar</h3>
      <h5>Security Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9805919737
        <br>
       
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns th card">
    <img src="/images/coordis/apoorva.jpg">
    <div class="card-content">
      <h3>Apporva Bhatia</h3>
      <h5>Accounts Coordinator</h5>
      <p>
        <strong>Phone:</strong> 8894288648 / 9044853609
        <br>
        <strong>Email:</strong> accounts@exodia.in
      </p>
    </div>
  </div>

<div class="large-6 columns th card">
    <img src="/images/coordis/kartik.jpg">
    <div class="card-content">
      <h3>Kartik Jain</h3>
      <h5>Accounts Coordinator</h5>
      <p>
        <strong>Phone:</strong> 9459075201
        <br>
        <strong>Email:</strong> accounts@exodia.in
      </p>
    </div>
  </div>

</div>

<div class="row web">
  <div class="large-4 columns th card">
    <img src="http://zippy.gfycat.com/CooperativeWeakBluejay.gif" />
    <div class="card-content">
      <h3>Vikhyat Korrapati</h3>
      <h5>Website Team</h5>
    </div>
  </div>

  <div class="large-4 columns th card">
    <img src="http://zippy.gfycat.com/ImmediateNervousHoneycreeper.gif" />
    <div class="card-content">
      <h3>Ankit Srivastava</h3>
      <h5>Website Team</h5>
    </div>
  </div>

  <div class="large-4 columns th card">
    <img src="http://zippy.gfycat.com/SpiritedNauticalKookaburra.gif" />
    <div class="card-content">
      <h3>Chinmay Krishna</h3>
      <h5>Website Team</h5>
    </div>
  </div>
</div>

<script>
 (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));
</script>
