---
title: Workshops
---


<div class="background-overlay"></div>

<h1 class="page-header">Workshops</h1>

<div class="large-6 columns workshop workshop-2">
  <h2>Robo-Gravity</h2>
  <p>ROBO-GRAVITY is a National Robotics Challenge & Workshop series, an initiative of team EXODIA, IIT, Mandi and ABLab Solutions; which will be conducted at Selective Outreach Centers (Engineering Colleges/Universities) all across India.</p>
  <p>ROBO-GRAVITY aims to widen the student's perspective by providing a pool of resources and an exposure to real use of technologies. These series of workshops and Robotics challenge will be the most effective method in enabling the engineering grads to relate technical theory to practice. This event not only aims towards development of technical skills but also enhances certain life values like that of competitiveness & team play. With the help of this event, the students will fetch the opportunity to participate in the ever challenging technical environment at Indian Institute of Technology, Mandi. </p>
  <p>
    <a class="button radius small" href="/docs/robo.pdf"><i class="fa fa-download"></i> Download Details</a>
  </p>
  <p>
  <img src="/images/robotics.jpg">
</p>
<p>
    <a class="button radius small" href="http://whitematterindia.com/swarm-robots/"><i class="fa fa-download"></i> Details</a>
  </p>

</div>

<div class="large-6 columns workshop workshop-1">
<p>
  <img src="/images/ethical.jpg">
</p>
  <p>
    <a class="button radius small" href="/docs/ethical.docx"><i class="fa fa-download"></i> Download Details</a>
  </p>
<p>
<img src="/images/kshatriya.png">
</p>
  
 
</div>

 

