---
title: Workshops
---


<div class="background-overlay"></div>

<h1 class="page-header">Workshops</h1>

<div class="large-6 columns workshop workshop-1">
  <h2>Workshop 1</h2>
  <% 2.times do %>
    <p><%= lorem.paragraph %></p>
  <% end %>
  <h4>Contact</h4>
  <p><strong>Firstname Lastname</strong> &mdash; 987654321<br>
  <strong>Firstname Lastname</strong> &mdash; 987654321</p>
</div>

<div class="large-6 columns workshop workshop-2">
  <h2>Workshop 2</h2>
  <% 2.times do %>
    <p><%= lorem.paragraph %></p>
  <% end %>
  <h4>Contact</h4>
  <p><strong>Firstname Lastname</strong> &mdash; 987654321<br>
  <strong>Firstname Lastname</strong> &mdash; 987654321</p>
</div>
