---
title: Workshops
---


<div class="background-overlay"></div>

<h1 class="page-header">Workshops</h1>

<div class="large-6 columns workshop workshop-2">
  <h2>Robo-Gravity</h2>
  <p>ROBO-GRAVITY is a National Robotics Challenge & Workshop series, an initiative of team EXODIA, IIT, Mandi and ABLab Solutions; which will be conducted at Selective Outreach Centers (Engineering Colleges/Universities) all across India.</p>
  <p>ROBO-GRAVITY aims to widen the student's perspective by providing a pool of resources and an exposure to real use of technologies. These series of workshops and Robotics challenge will be the most effective method in enabling the engineering grads to relate technical theory to practice. This event not only aims towards development of technical skills but also enhances certain life values like that of competitiveness & team play. With the help of this event, the students will fetch the opportunity to participate in the ever challenging technical environment at Indian Institute of Technology, Mandi. </p>
  <p>
    <a class="button radius small" href="/docs/robo.docx"><i class="fa fa-download"></i> Download Details</a>
  </p>
</div>

<div class="large-6 columns workshop workshop-1">
  <h2>Hacked Off!</h2>

  <p>“Hacked Off!” is a National Level Ethical Hacking and Cyber Forensics workshop cum championship being organized by Authentic Techs in association with Exodia’14, IIT Mandi. Authentic Techs is a cyber-security company with a  keen motive of spreading knowledge about Cyber Security and Cloud Computing in the upcoming future of India.</p>

  <h3>Programme Outline</h3>
  <p>We are looking for “SELECTIVE OUTREACH CENTRES” across all Engineering Colleges/Universities in India; where the series of technical workshops will be conducted. We will be glad if we can select your college as one of our ‘Outreach centre’ for Hacked Off, quenching the thirst of knowledge and opening doors for your students to take leverage of this wonderful event.</p>

  <h3>Event Details</h3>
  <p>Cyber Forensics and Ethical Hacking Workshop cum Championship is a Series of Workshops with colleges from entire India to provide a National Level platform to all students. Preliminary rounds of ‘Hacked Off!’ competition will be held all across India. It is a three Stage Event as detailed below:</p>

  <h4>Stage 1 <small>(Workshop Round to be held at college)</small></h4>
  <ol>
    <li>Workshops will be held at different centers all across India.</li>
    <li>All students who want to participate in the competition are required to attend a workshop at any Center.</li>
    <li>The workshop fee includes the Registration charges, Software Toolkit CD, Tutorial and the certification.</li>
    <li>The Duration of the Workshop will be of 2 Days (7-8 hours each day)</li>
    <li>The Workshop will be delivered by Cyber Security professionals from Authentic Techs</li>
  </ol>

  <h4>Stage 2 <small>(Zonal Round to be held at College on the second day of the workshop)</small></h4>
  <p>Just after the conclusion of the workshop, a competition based on the topics covered in the workshop will be held.  Winners will be awarded Certificate of Merit, and will be awarded as Zonal Final Winner along with cash prize and goodies.</p>

  <h4>Stage 3 <small>(Final Round to be held at IIT Mandi)</small></h4>
  <p>Winners of Zonal Centers are required to participate in the Final Round of “Hacked Off!” in the month of March 2014 at IIT Mandi.<br>
  Winner of this Final Round will win The “Hacked Off!” championship and will be awarded and honored by Exodia’14, IIT Mandi.<br>
  A Certificate of Excellence will also be awarded to the Winning Team.</p>

  <h4>Benefits for the Final Winners <small>(In IIT Mandi during Exodia’14)</small></h4>
  <ol>
    <li>Students will get a National Level Platform to explore their caliber and enthusiasm.</li>
    <li>Opportunity to interact with students from all across India on a national level platform.</li>
    <li>They will be getting Free Software Toolkit permanently to them.</li>
    <li>All the winners will get Certificate with Logo of Exodia’14, IIT Mandi.</li>
    <li>Internship will be offered by our company so that students will get chance to be trained in the field in a corporate environment.</li>
  </ol>

  <h3>Key Benefit</h3>
  <p>We will be providing the students with knowledge in the field of cyber security by showing them live demonstrations and train them to participation in a national level cyber security championship.</p>

  <h3>Fee</h3>
  <p>The fee charges for this championship is Rs.1200/-(per student). The fees include Software Toolkit CD charges, Tutorial, workshop training, certification and other Operation charges. Software Toolkit CD will be provided to all students.</p>

  <h3>Contact</h3>
  <p>To organize this workshop in your college mail to planning@exodia.in.</p>
</div>

