---
title: Attractions
---

<ul class="clearing-thumbs" data-clearing>
  <li>
<a class='th' id="tsukiakarinomichishirube" href="/images/couture.jpg">
    <img data-caption="Couture (Fashion Show): Fashion and style is a way of telling who you are, without speaking a word! <br>
<a href='/docs/couture.pdf'><i class='fa fa-download'></i> Download Rules</a><br>
Contacts:-<br>
Shivangi: 9816936018 &nbsp
Deepika: 9816923546 &nbsp
Prashant: 9805408801 &nbsp" src="/images/couture.jpg">
 </a>   
  </li>
  <li>
<a class='th' href="/images/youtube_collab.jpg">
    <img data-caption="Youtube Collab <br>" src="/images/youtube_collab.jpg">
</a>    
  </li>
   <li>
<a class='th' href="/images/miss_diva.jpg">
    <img data-caption="<a href='http://bit.ly/fmi_exodia14' target='_blank'> Register Here</a>" src="/images/miss_diva.jpg">
</a>    
  </li>
   <li>
<a class='th' href="/images/mr_and_miss_exodia.jpg">
    <img data-caption="<a href='https://www.facebook.com/media/set/?set=a.672660492775882.1073741825.289209151121020&type=1' target='_blank'>Mr. Exodia entries</a> </br>
<a href='https://www.facebook.com/media/set/?set=a.673748122667119.1073741826.289209151121020&type=3' target='_blank'>Miss Exodia entries</a>"
 src="/images/mr_and_miss_exodia.jpg">
</a>    
  </li>
</ul>

<script>
$(document).ready(function() {
  $("#tsukiakarinomichishirube").click();
  setTimeout(function() {
    $("#tsukiakarinomichishirube").click();
  }, 50);
});
</script>
