---
title: Attractions
---

<h1 class="page-header">Attractions</h1>

<div class="background-overlay"></div>

<div class="large-6 columns attraction attraction-1">
  <h2>Couture <small>(Fashion Show)</small></h2>
  <p>Fashion and style is a way of telling who you are, without speaking a word! Couture will provide a platform where fashion geeks from across India will showcase their talent and skills through a theme based competitive event. If you are among those who uphold fashion as divine and choke at the very sight of mismatched fringed shoes or gaudy colored turtlenecks, this one is for you! Come, lead the fashion wagon with your unique creativity and wit!</p>
  <p>
    <a class="button radius small" href="/docs/couture.pdf"><i class="fa fa-download"></i> Download Rules</a>
  </p>
</div>

<div class="large-6 columns attraction attraction-2">
  <h2>Youtube Collab</h2>
  <p>Coming soon!</p>
</div>

