---
title: Social Initiative
---

<h1 class="page-header">Social Initiative</h1>

<div class="large-3 columns large-uncentered opposite content">
<p>
<span>IMPORTANCE OF EDUCATION</span><br>
This year our emphasis is on promoting higher education and improving the educational standards in Himachal Pradesh. Himachal Pradesh has one of the highest literacy rates and one of the most extensive systems of schools in the country but it’s representation in higher education institutes and industry is not proportionately high. After a series of surveys by NSS IIT Mandi, it was found that the root cause of this disparity is lack of awareness of available higher education opportunities and career options that one may have after different levels of education and not financial limitations.
</p>
</div>

<div class="bottom-content">
<img src="/images/social.png">
To support this noble initiative,email us at <span>brightertomorrow@exodia.in</span>
</div>
