---
title: Accomodations
---

<h1 class="page-header">Accomodation</h1>

<div class="background-overlay"></div>

<div class="large-6 columns accomodation-1">
  <h2> <small>Accomodation Fees</small></h2>
  <strong>For 1 or 2 days: Rs300</strong><br /><br/><strong>For 3 days: Rs400</strong><br /><br />
  <h2> <small>Accomodation policy</small></h2>
  <p>
    <a class="button radius small" href="/docs/accopolicy.pdf"><i class="fa fa-download"></i> Download policy</a>
  </p>
 </div>
