---
title: Accomodations
---

<h1 class="page-header">Accomodation</h1>

<div class="background-overlay"></div>

<div class="large-6 columns accomodation accomodation-1">
  <h2> <small></small></h2>
  <p></p>
  <p>
    <a class="button radius small" href="/docs/accopolicy.pdf"><i class="fa fa-download"></i> Download Rules</a>
  </p>
 </div>