---
title: Exodia 2014
---

<div class="draw-attention-to-menu"></div>

<video autoplay loop class="bg">
  <source id="webm" type="video/webm" />
  <source id="mp4" type="video/mp4" />
</video>

<div class="row content-row">
  <div class="large-6 columns large-centered content">
    <div class="show-for-small-only" style="height: 50px"></div>

    <img src="http://placehold.it/500x200" width="500" height="200">
    <h1>Exodia<span>2014</span></h1>
    <p>Insert tagline including March 7-9 here</p>

    <iframe class="hide-for-small-only" width="100%" height="300" src="//www.youtube.com/embed/QWO9bZUx1QA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<script>
  $("html").addClass("home-page");
  if (Modernizr.touch) {
    $(".bg").remove();
    $("body").css("background", "url(<%= asset_url("images/snow.jpg") %>) no-repeat center center fixed")
             .css("background-size", "cover");
   } else {
    var idx = Math.floor((Math.random() * (1 + 0)));
    $("video #mp4").attr("src", "/videos/snow-" + idx + ".mp4");
    $("video #webm").attr("src", "/videos/snow-" + idx + ".webm");
   }
</script>
