

 <script type="text/javascript"> 
var pathObj = {
    "86661-630750-DrkXxTKtxu7wKkX-Outline": {
        "strokepath": [
            {
                "path": "M131.8,189.922c-0.021,0.208-0.197,0.188,0.099,0.75   c0,0,1.089,1.542,2.755,1.833c0,0,2.167-2.5,6-8.833c3.5,18,16,41.167,21,49.167c-5.776,5.627-19.333,23.5-23.833,38.166   c-4.5,14.667-3.667,32.834,7.167,43.167c10.833,10.334,22.208,11.75,40.458,5.25s61.625-56,61.75-55.625s34.125,46.125,42.375,55   s11.625,9.5,16,6.5c4.376-3,22.501-17.25,28.626-21.375c9.125,8.25,39.125,28.625,40.625,26.5s16.25-14.75,16.75-15   s4.014-0.201,2-1.625c-6-2.125-13.125,7.375-22.875,6.957c-10.25,1.582-28.75-15.082-32-18.457s-4.375-4.375-5.75-3.375   s-23.375,18.75-24.5,19.75s-3.283,3.319-7.126,1.25c-27.25-19-48-54.25-53-62c-7,5-62.25,70-92.5,46.75c-28.5-30,0.875-62.5,8-69.5   c7,8.875,10.625,12.625,13.875,15.75s5.25,3.75,6.625,2s11.875-10.375,19.625-13.875c-52.5,2.875-61.25-60.125-61.25-60.125   s0.875-1.125,2.625-4.375c49.25,0.75,76.042-36.5,76.042-36.5l0.208,0.375c0,0,2.5,4.5,4.75,8.25   c-9.75,12.25-14.375,47.25-11.813,46.063c7.563-20,19.188-33.563,19.438-33.25s12.563,20.313,15.438,23.625   c3-3.625,11.25-7.125,17.813-11.25c-0.313-9.625-4.813-16.688-13.938-32.813s-14.688-26-21.125-28.313   c-9.5,10-17.063,10.188-17.25,10.938s-0.5,2.188-0.25,3s2.34,6.318,4.406,9.624c-17.354,21.488-64.875,20.249-64.875,20.249   l-22.266,35.124",
                "duration": 1800
            },
            {
                "path": "M214.593,124.513c0,0,2.916,7.72,4.447,9.784   c1.531,2.063,2.322,3.751,2.322,3.751s4.083,7.313,4.958,8.625s6.092,10.362,7.759,13.017s14.241,22.671,15.303,23.421   c1.105-1.132,2.296-2.106,2.296-2.106l-4.566-1.289c0,0-8.271-12.417-8.313-12.854s0.646-5.647,0.333-6.022   s-5.729-2.563-5.729-2.563l-7.105-11.962c0,0,0.75-5.608,0.479-5.963c-0.271-0.354-5.229-2.356-5.229-2.356   s-5.604-8.612-5.938-11.528c0.083-1.5,0.979-5.375,0.979-5.375s2.333-0.792,2.563-0.896s-1.854,10.042-1.854,10.042   s2.729,5.126,2.875,5.251s8.125,3.479,8.5,4.063s-0.354,9.835-0.333,9.897c0.021,0.062,3.542,5.895,3.542,5.895   s8.729,3.938,9.083,4.521s-0.229,9.771-0.229,9.771l4.313,6.626l8.61,3.377l3.247-1.938c0,0-9.398-2.959-9.46-3.125   c-0.063-0.167-0.875-14.981-1.083-15.231c-0.208-0.25-11.708-7.11-12.437-7.86s0.188-13.689-0.167-14.126   c-0.355-0.437-10.583-6.334-11.646-7.605c-1.063-1.271,0.94-11.441,0.96-11.658c0.02-0.217,2.874-1.719,2.874-1.719   s-2.188,11.736-1.813,12.674c0.375,0.938,11.42,6.438,11.616,7.25c0.196,0.813-0.321,13.563,0,14.063s11.321,7.188,12.134,8.125   c0.813,0.937,0.813,13.938,1.313,14.688s9.466,3.063,9.608,3.469c4.329-2.531,4.558-2.719,4.558-2.719s-8.458-1.396-8.875-1.771   s-0.229-16.729-0.479-17.167c-0.25-0.438-12.5-3.25-13.125-3.813c-0.625-0.563,1.25-15.75,1.125-16.188   c-0.125-0.438-12.125-5.625-12.625-6.5s1.531-16.25,1.531-16.25l1.325-1.461c0,0,1.019,2.18,1.175,2.523   c0.157,0.344-2.063,13.875-1.875,14.188c0.188,0.313,12.532,6.25,12.719,6.656c0.188,0.407-1.532,15.344-1.313,15.688   c0.219,0.344,11.782,3.094,11.969,3.375c0.188,0.281,1.313,2.032,1.313,2.375c0,0.344-0.219,14.594-0.032,14.813   c0.188,0.219,10.5,1.5,10.5,1.5l-10.25-16.125l-12-21.375c0,0-10.844-20.719-10.844-20.906c0-0.188-1.25-2.75-1.25-2.75",
                "duration": 1800
            }
        ],
        "dimensions": {
            "width": 400,
            "height": 400
        }
    }
}; 
 
 
/* 
 Setup and Paint your lazyline! 
 */ 
 
 $(document).ready(function(){ 
 $('#86661-630750-DrkXxTKtxu7wKkX-Outline').lazylinepainter( 
 {
    "svgData": pathObj,
    "strokeWidth": 1.5,
    "strokeColor": "#e6e6e6"
}).lazylinepainter('paint'); 
 });
</script>

<div class="row">
  <div class="columns large-centered ">
<div class="circle columns large-centered"> 
<div id="86661-630750-DrkXxTKtxu7wKkX-Outline"></div>
</div>

</div>
</div>
<div class="row">
<div class="columns large-centered content">
<h1> Exodia'14</h1>
<p> Annual Tech-Cult Fest of IIT Mandi<br> 11-13 April</p>
</div>
</div>
<div class="columns large-centered footer">
<p>
<button class="btn btn-1 btn-1c" onclick=window.open('https://www.facebook.com/Exodia.IITMandi');>Facebook</button>
<button class="btn btn-1 btn-1d" onclick=window.open('http://www.iitmandi.ac.in/institute/howtoreach.html');>How to reach</button>					
<button class="btn btn-1 btn-1e" onclick=window.open('http://exodia2014reg.herokuapp.com/registers/new');>Registration</button>					
<button class="btn btn-1 btn-1f" onclick=window.open('http://www.youtube.com/user/exodiaiitmandi');>Youtube</button>
</p>
</div>


<script type="text/javascript">
  $(function() {
    $("a.left-off-canvas-toggle").click();
  });
</script>

