<div class="draw-attention-to-menu"><span>&larr; NAVIGATION</span></div>

<video autoplay loop class="bg">
  <source id="webm" type="video/webm" />
  <source id="mp4" type="video/mp4" />
</video>

<div class="row content-row">
  <div class="large-6 columns large-centered content">
    <div class="show-for-small-only" style="height: 50px"></div>

    <img src="http://i.imgur.com/SXqwpek.png" style="height:auto; width:auto; max-width:250px; max-height:250px;">
    <p>Biggest Tech-Cult fest of Himalayas</p>

    <div class="buttons">
      <ul class="button-group radius">
        <li><a href="http://www.iitmandi.ac.in/institute/howtoreach.html" class="button small alert" target="_blank">How to reach us</a></li>
        <li><a href="https://www.facebook.com/Exodia.IITMandi" class="button small" target="_blank">Facebook</a></li>
	<li><a href="http://hummingbird.me/" class="button small [secondary success alert]" target="_blank">Registration</a></li>
      </ul>
    </div>

    <iframe src="//player.vimeo.com/video/85721658" width="470" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<script>
  $("html").addClass("home-page");
  if (Modernizr.touch) {
    $(".bg").remove();
    $("body").css("background", "url(<%= asset_url("images/snow.jpg") %>) no-repeat center center fixed")
             .css("background-size", "cover");
   } else {
    var idx = Math.floor((Math.random() * (1 + 0)));
    $("video #mp4").attr("src", "/videos/snow-" + idx + ".mp4");
    $("video #webm").attr("src", "/videos/snow-" + idx + ".webm");
   }
</script>
