.events_index {
  background: #000;

  .bgwrap {
    position: fixed;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    z-index: -1;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
    }
  }

  h2 {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    margin: 0;
    padding: 20px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;

    div {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      width: 0%;
      transition: width 0.2s ease-in;
      opacity: 0.4;
    }

    &.active div, &:hover div {
      width: 100%;
    }

    &.active div {
      opacity: 0.8;
    }
  }

  .row {
    max-width: 100%;
    padding: 20px;
    display: none;
  }

  .event-grid {
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
