.events_index {
  background-image: url("http://thepatternlibrary.com/img/b.jpg");

  h1 {
    background-color: rgba(0,0,0,0.6);
    margin: 0;
    color: #fff;
    font-size: 5em;
    padding-left: 40px;
  }
  h2 {
    background-color: rgba(0,0,0,0.3);
    margin: 0;
    padding: 20px;
    padding-left: 30px;
    color: rgba(255, 255, 255, 0.7);
  }

  .row {
    max-width: 100%;
    padding: 20px;
  }

  .event-grid {
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
