.social {
  background: url(/images/education.jpg) center center fixed no-repeat;
  background-size: cover;


  .content {
    padding-top: 40px;
    height: 83%;
    text-align: center;
    background-color: rgba(0,0,0,0.8);

	p{
color:white;
span {
font-size: 1.5em;
}
 }

}

.bottom-content {
position:fixed;
bottom:0;
left:0;
background-color: rgba(0,0,0,0.8);
color:white;
padding-right:10px;
font-size:1.2em;

img {
padding : 10px;
 -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

&:hover {
 -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
}

span {
color: #ebcea2;
}
}
}
