.sponsors {
  background: url(/images/sponbg.png);

  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    z-index: -1;
  }

  .logos {
    margin-top: 40px;
    text-align: center;
  }

  .logos.first {
    margin-top: 20px;
  }

  a.th {
    margin-right: 30px;
    background: #fff;
    margin-top: 20px;
  }

  a.th:last-child {
    margin-right: 0;
  }

  .logos.first {
    img {
      height: 100px;
      width: auto;
    }
  }

  .logos.second {
    img {
      height: 75px;
      width: auto;
    }
  }
}
